build/

.gradle
gradle/
gradlew
gradlew.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
ios/parkeerassistent.xcodeproj/
!ios/parkeerassistent.xcodeproj/project.pbxproj
ios/app/.build
ios/app/.swiftpm
ios/parkeerassistent.xcodeproj.zip

.env
aws/
kotlin-js-store
private_key.pepk
