lib/
build/
node_modules/
externals/
.gradle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
ios/parkeerassistent.xcodeproj/
ios/app/.build
ios/app/.swiftpm


.env
kotlin-js-store
private_key.pepk
